<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/rems?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=Asia/Ho_Chi_Minh</property>        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="com.qlbds.entity.User"/>
        <mapping class="com.qlbds.entity.OtpCode"/>
        <mapping class="com.qlbds.entity.Property"/>
        <mapping class="com.qlbds.entity.PropertyImage"/>
        <mapping class="com.qlbds.entity.ViewLog"/>
        <mapping class="com.qlbds.entity.Transaction"/>
        <mapping class="com.qlbds.entity.TransactionUserSnapshot"/>
        <mapping class="com.qlbds.entity.TransactionPropertySnapshot"/>

    </session-factory>
</hibernate-configuration>