<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/qlbds?useSSL=false&amp;serverTimezone=UTC&amp;allowPublicKeyRetrieval=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">anhthanhpro2005</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="com.qlbds.entity.User"/>
        <mapping class="com.qlbds.entity.UserVerification"/>
        <mapping class="com.qlbds.entity.RealEstate"/>
        <mapping class="com.qlbds.entity.RealEstateImage"/>
        <mapping class="com.qlbds.entity.PropertyViewHistory"/>
        <mapping class="com.qlbds.entity.Transaction"/>
        <mapping class="com.qlbds.entity.TransactionLog"/>
        <mapping class="com.qlbds.entity.Notification"/>
        <mapping class="com.qlbds.entity.EmailLog"/>
    </session-factory>
</hibernate-configuration>